{% load static %}
<!DOCTYPE html>
<html>
    
    <head>
        <title>URL Shortener</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    </head>
    <body>
        
        <main>
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <!-- <button type="submit" name="url">Submit</button> -->
                <input type="submit" name="submit" />
            </form>
            <ul>
                {% for number in all %}
                    <li>{{number.url}} - <a target="__blank" href="http://127.0.0.1:8000/{{number.shortened_url}}">{{ number.shortened_url }}</a></li>
                {% endfor %}
            <!-- {% for i in main %}
            
            {% endfor %} -->
            </ul>

        </main>
    </body>

</html>